{% extends 'base.html' %}
{% block title %} Contact Us {% endblock %}
{% block content %}
	<div class="wrapper wrapper-style4">
		<article id="Bugreporter">
			<div class="5grid">
				<div class="row">
					<div class="12u">
						<h3>Welcome to the Bug Reporter</h3>
						<span>If you found some bugs into your applications, you can notify us here</span>
						<br>
						<u>{{ info }}</u>
						<br><br>
						<form method="post" action=".">
							{% csrf_token %}
							{{ form.as_p }}
							<div class="5grid">
								<div class="row">
									<input type="submit" class="button" value="Send Message"/>
									<input type="reset" class="button button-alt" value="Clear Form"/>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</article>
{% endblock %}