{% extends 'base.html' %}
{% block title %} Contact Us {% endblock %}
{% block content %}
	<div class="wrapper wrapper-style4">
		<article id="ContactUs">
			<header>
				<h2>Want you contact us? GET IN TOUCH! </h2>
				<span>if you need to hire any of our services, you know what you must do</span>
			</header>
			<div class="5grid">
				<div class="row">
					<div class="12u">
						{% if info_sent %}
							<strong>The message has been sent correctly!</strong><br>
						{% else %}
							<form method="post" action="#">
								<div class="5grid">
									<div class="row">
										{% csrf_token %}
										{{form.as_p}}
										<input type="submit" class="button" value="Send Message" />
										<input type="reset" class="button button-alt" value="Clear Form" />
									</div>
								</div>
							</form>
						{% endif %}
					</div>
				</div>
				<div class="row row-special">
					<div class="12u">
						<h3>Find us on ...</h3>
						<ul class="social">
							<li class="twitter"><a href="http://twitter.com/SankoSK">Twitter</a></li>
							<li class="linkedin"><a href="#">LinkedIn</a></li>
						</ul>
					</div>
				</div>
			</div>
		</article>	
		<footer>
			<p class="centrado" id="copyright">
			&copy; 2013 Grampus Team | Design: <a href="http://html5up.net/">HTML5 Up!</a>
			</p>
		</footer>	
	</div>
{% endblock %}



