{% extends 'base.html' %}
{% block title %} Welcome to Grampus website {% endblock %}
{% block content %}
	<div class="wrapper wrapper-style1 wrapper-first">
		<article class="5grid-layout" id="Home">
			<div class="row">
				<div class="4u">
					<span class="me image image-full"><img src="/media/images/me.png" alt="" /></span>
				</div>
				<div class="8u">
					<header>
						<h1>Welcome to <strong>Grampus Team</strong>.</h1>
					</header>
					<p>We're a team of developers, enthusiasts of Open Source and autodidacts.
					We offer a range of freelance services and web audit services</p>
					<p>Do you want to know what current projects are in development?</p>
					<a href="/projects" class="button button-big">See our Open-Source Projects</a>			
				</div>
			</div>
		</article>
	</div>
{% endblock %}
