{% extends 'base.html' %}
{% block title %} Welcome to Grampus website {% endblock %}
{% block content %}
	<div class="wrapper wrapper-style2">
		<article class="5grid-layout" id="Partners">
			<header>
				<h2>Our Partners</h2>
				<span>These are our current Partnerss</span>
			</header>
			<section class="box box-style1">
				<h3><u>Partner Tester</u></h3>
				<p>Grampus Project has been accepted by Partner Tester, a project to do something because is not real, it's a test page.</p>
				<span class="image image-centered"><img src="/media/images/imb.jpg" alt=""/></span>
			</section>
			<footer>
				<p>if you want to be our Partner or you want to hire our services you can contact us</p>
				<a href="/contactus" class="button button-big">Contact us</a>
			</footer>
		</article>
	</div>
{% endblock %}
