{% extends 'base.html' %}
{% block title %} Our Projects {% endblock %}
{% block content %}
	<div class="wrapper wrapper-style3">
		<article id="Projects">
			<header>
				<h2>Our current open source projects</h2>
				<span>you can see our current open source projects in <a href="https://bitbucket.org/grampusteam/">bitbucket</a></span>
				<p>Grampus Project is currently divided in <u>3 repositories</u>:</p>
			</header>
			<div class="5grid-layout">
				<div class="row">
					<div class="12u">
					</div>
				</div>
				<div class="row">
					<div class="4u">
						<article class="box box-style2">
							<a href="#" class="image image-full"><img src="/media/images/portfolio01.jpg" alt="" /></a>
							<h3><a href="#">Grampus</a></h3>
							<p>Grampus is a tool dedicated to forensic analysts and It can be used to extract/analize and edit/delete metadata.</p>
							<a href="https://bitbucket.org/grampusteam/grampus" class="button button-small">Click here to learn more</a>
						</article>
					</div>
					<div class="4u">
						<article class="box box-style2">
							<a href="#" class="image image-full"><img src="/media/images/portfolio02.jpg" alt="" /></a>
							<h3><a href="#">Cleanbox</a></h3>
							<p>Cleanbox is a tool dedicated to mediocre users that prevents the loss of sensitive information in dropbox (using dropbox api).</p>
							<a href="https://bitbucket.org/grampusteam/cleanbox" class="button button-small">Click here to learn more</a>
						</article>
						</div>
					<div class="4u">
						<article class="box box-style2">
							<a href="#" class="image image-full"><img src="/media/images/portfolio02.jpg" alt="" /></a>
							<h3><a href="#">Grampus Online</a></h3>
							<p>It's a online version of grampus, It can't do the same things that grampus but it's online and it isn't necessary install nothing.</p>
							<a href="https://bitbucket.org/grampusteam/" class="button button-small">Click here to learn more</a>
						</article>
					</div>
				</div>
			</div>
			<footer>
				<p>Want you know what are our offered services?</p>
				<a href="/services" class="button button-big">See our offered services</a>
			</footer>
		</article>
	</div>
{% endblock %}
