{% extends 'base.html' %}
{% block title %} Our Projects {% endblock %}
{% block content %}
	<div class="wrapper wrapper-style2">
		<article class="5grid-layout" id="Services">
			<header>
				<h2>Our offered Services</h2>
				<span>These are the types of services that we offer</span>
			</header>
			<div class="5grid-layout">
				<div class="row">
					<div class="4u">
						<section class="box box-style1">
							<span class="image image-centered"><img src="/media/images/work01.png" alt="" /></span>
							<h3>Freelance Services</h3>
							<p>Contact us if you need someone with programming experience to develop your web, desktop or mobile application.</p>
						</section>
					</div>
					<div class="4u">
						<section class="box box-style1">
							<span class="image image-centered"><img src="/media/images/work02.png" alt="" /></span>
							<h3>Web Audit Services</h3>
							<p>Contact us if you need someone with experience testing your website security and offer you advice about how can you protect from possible security failures and improve your website security.</p>
						</section>
					</div>
					<div class="4u">
						<section class="box box-style1">
							<span class="image image-centered"><img src="/media/images/work03.png" alt="" /></span>
							<h3>General Maintenance</h3>
							<p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
						</section>
					</div>
				</div>
			</div>
			<footer>
				<p>Want you see our Partnerss?</p>
				<a href="/partners" class="button button-big">See our Partners</a>
			</footer>
		</article>
	</div>
{% endblock %}








