<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %} Grampus Team {% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />
		<script src="/media/js/jquery-1.8.3.min.js"></script>
		<script src="/media/css/5grid/init.js?use=mobile,desktop,1000px"></script>
		<script src="/media/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/media/css/5grid/core.css" />
			<link rel="stylesheet" href="/media/css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="/media/css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="/media/css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="/media/css/style.css" />
			<link rel="stylesheet" href="/media/css/style-desktop.css" />
			<link rel="stylesheet" href="/media/css/center.css" />
		</noscript>
	</head>

	<body>
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/projects/">Projects</a></li>
				<li><a href="/services/">Services</a></li>
				<li><a href="/partners/">Partners</a></li>
				<li><a href="/bugreporter/">Bugs Reporter</a></li>
				<li><a href="/contactus/">Contact us</a></li>
				<li><a href="/gallery">Gallery</a></li>
			</ul>
		</nav>
		{% block content %}
		{% endblock %}		
	</body>
</html>			